{% extends 'base.html.twig' %}
{% block title %}Annonces{% endblock %}

{% block body %}
    <img src="images/logo.png" class="logo" >
    <h1>Annonces de {{ user }}</h1>

    {#style="width:20%"#}
    <div class="alignbutton">
        <button class = "button"><a href=" {{ path('annoncespage') }}">Annonces</a></button>
        <button class = "button"><a href=" {{ path('app_logout') }}">Deconnexion</a></button>
    </div>






{% endblock %}