{% extends 'base.html.twig' %}
{% block title %}Login Page{% endblock %}

{% block body %}
<img src="images/logo.png" class="logo" >
<h1>{{ title }}</h1>

{#style="width:20%"#}
<div class="alignbutton">
    <button class = "button"><a href=" {{ path('annoncespage') }}">Annonces</a></button>
    <button class = "button"><a href=" {{ path('profilpage') }}">Mon Profil</a></button>
    <button class = "button"><a href=" {{ path('app_logout') }}"></a>Deconnexion</button>

</div>

<div class="menu">




    {% endblock %}