{% extends 'base.html.twig' %}
{% block title %}Le P'tit Kooin{% endblock %}

{% block body %}
    <img src="images/logo.png" class="logo" >
    <h1>{{ title }}</h1>


    <img src="images/toilettes.png" class="imageToilettes">

    <div class="alignbutton">
        <button class = "button"><a href=" {{ path('loginpage') }}">Connexion</a></button>
        <button class = "button"><a href=" {{ path('registrationpage') }}">Inscription</a></button>
    </div>

{% endblock %}

    {% block javascripts %}


    {% endblock%}










