{% extends 'base.html.twig' %}
{% block title %}Tu es connecté{% endblock %}

{% block body %}
    <img src="images/logo.png" class="logo" >
    <h1>{{ title }}</h1>
    <div class="titre">Tu es inscrit ! Connecte toi !</div>

    <div class="alignbutton">
        <button class = "button"><a href=" {{ path('loginpage') }}">Connexion</a></button>
    </div>

{% endblock %}
